* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(87, 87, 212);

}

h1 {
    text-align: center;
    background-color: yellow;
    font-size: 8rem;
}
.div{
    text-align: center;
    color: black;
}

.div1 {
    background-color: antiquewhite;
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
}

div {
    font-size: 5rem;
    background-color: azure;

}

li{
    color: black;
}